
.about-section p {
  font-size: 1.75rem;
  max-width: 40vw;
  margin: 0 auto;
  padding: 15vh 30vw 15vh 30vw;
}

#Layer_1 {
  position:fixed;
  right: 50px;
  bottom: 70px;
  max-width: 20vw;
  max-height: 50vh;
  overflow: visible;
}

#Layer_1 {
  stroke: url(#linear-gradient2);
  stroke-width: 3px;
}

#linear-gradient2 {
 animation: rotate 10s forwards infinite; 
}

@keyframes rotate {
  from{
rotate: 0deg;
  }
  to{
rotate: 360deg;
  }
}

#dilan {
  rotate: 0;
}

/* //fade out and smooth between pages!! */