
.about-section p {
  font-size: 2rem;
  max-width: 40vw;
  margin: 0 auto;
  padding: 300px 300px 150px 300px;
}
#standingBlack {
  position:fixed;
  left: 50px;
  bottom: 90px;
  max-width: 10vw;
  max-height: 50vh;
  animation: fd 1s ease-in forwards;
}  
#jumpingBlack {
  position:fixed;
  right: 50px;
  bottom: 90px;
  max-width: 20vw;
  max-height: 50vh;
}  
