.contact-section {
  padding: 40px;
  max-width: 50vw;
  width: 800px;
  margin: 0 0 0 30vw;
}

.contact-form {
  display: flex;
  flex-direction: column;
}

.contact-form label {
  margin-bottom: 10px;
}
.contact-form input,
.contact-form textarea {
  width: 100%;
  box-sizing: border-box;
  margin-top: 5px;
}

#fishingBlack {
  position: fixed;
  bottom: 70px;
  right: 0;
  max-height: 20vh;
}

/* //fade out and smooth between pages!! */
.page-content .contact-section {
  transition: opacity 0.8s ease-in-out;
  opacity: 1; /* Default state */
}

.page-content.fade-out .contact-section {
  opacity: 0; /* Fading out */
}

.page-content.fade-in .contact-section {
  animation: opaque 0.8s ease-in-out;
}


.page-content #fishingBlack {
  transition: transform 1s ease-in-out;
   /* Default state */
}
.page-content.fade-out #fishingBlack {
  transform: translateX(30vw) ; /* Fading out */
}
.page-content.fade-in #fishingBlack {
  animation: moveDilan 1s ease-in-out;
}
