.sidebar {
  width: 18rem;
  max-width: 25vw;
  padding: 20px;
  position: fixed;
}

#bubble {
  fill: none;
  animation: aniGrad 3s ease-in-out alternate infinite;
}

@keyframes aniGrad {
  0% {
    stroke: url(#linear-gradient);
    stroke-width: 1px;
  }

  100% {
    stroke: url(#linear-gradient);
    stroke-width: 2px;
  }
}

#headerImg {
  max-width: 500px;
  min-width: 250px;
}

.btn {
  fill: #000;
  font-size: 0.9rem;
}
.btn a:hover {
  fill: url(#linear-gradient);
  stroke: url(#linear-gradient);
  stroke-opacity: 0.3;
  stroke-width: 0.4px;
  transition: all 2s ease;
}
.active circle{
  fill: url(#linear-gradient);
  stroke: url(#linear-gradient);
  stroke-width: 0.5px;
}


#underline {
  stroke: black;
  stroke-width: 0.25px;
}

.underlineTop {
  stroke: black;
  stroke-width: 0.25px;
}

.leftBrow {
  transform: translate(0, 0); /* Use transform instead of translate */
  transition: transform 0.5s ease; /* Add smooth transition */
}

g#Header:hover .leftBrow { /* Correct the selector by removing the direct child combinator '>' */
  transform: translate(0, -1.5px); /* Move the path */
}
