.sidebar {
  width: 375px;
  padding: 20px;
  position: fixed;
  top: 0;
}

.sidebar svg {
  overflow: visible;
}

#bubble {
  fill: none;
  animation: aniGrad 3s ease-in-out alternate infinite;
}

@keyframes aniGrad {
  0% {
    stroke: url(#linear-gradient);
    stroke-width: 1px;
  }

  100% {
    stroke: url(#linear-gradient);
    stroke-width: 2px;
  }
}

#headerImg {
  max-width: 500px;
  min-width: 250px;
}

.btn {
  fill: #000;
  font-size: 0.9rem;
}
.btn a:hover {
  fill: url(#linear-gradient);
  stroke: url(#linear-gradient);
  stroke-opacity: 0.3;
  stroke-width: 0.4px;
  transition: all 2s ease;
}
.active circle{
  fill: url(#linear-gradient);
  stroke: url(#linear-gradient);
  stroke-width: 0.5px;
}

#underline {
  stroke: black;
  stroke-width: 0.25px;
}

.underlineTop {
  stroke: black;
  stroke-width: 0.25px;
}

.leftBrow {
  transform: translate(0, 0); 
  transition: transform 0.5s ease;
}

g#Header:hover .leftBrow { 
  transform: translate(0, -1.5px); 
}

@media (max-width: 1400px) {
  .sidebar {
    position: absolute;
  }
  .underlineTop {
    display: none;
  }

  #bubble {
    transform: translateX(195px)  scaleX(-1);
  }

  #welcomeTXT {
    transform: translateX(90px) translateY(25px);
  }

  #sideIMG {
    transform: translateX(-105px);
    width: 100px;
  }

  .btn {
    transform: translateX(0px) translateY(40px);
  }
}

@media (max-width: 1000px) {
.sidebar{
  position: relative;
  width: 100%;
  z-index: 1;
  padding: 0;
}
.btn{
  transform: translateX(60px) translateY(50px);
  /* scale: 0.5; */
}
g#Header { 
  width: 50%; 
}
/* #bubble, #welcomeTXT {
  scale: 0.7;
} */
}