.footer-section {
  height: 80px;
  position: fixed;
  bottom: 0;
  background: #000;
  color: #fff;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;          
}

.footer-link {
  text-decoration: none;
  color: #fff;
  display: inline-flex;   /* Ensures the link only covers icon + text */
  align-items: center;
  font-size: 1.2rem;
  gap: 10px;        
  white-space: nowrap;
}
.footer-link svg{
  fill: #fff;
  width: 50px;
}

.footer-link:hover {
  color:  red;
}

#githubFoot {
  padding-right: 5%;
}
#githubFoot svg{
  width: 45px;
}
.phoneLines {
  opacity: 0;
  transition: opacity 2s ease;
 }
#phoneFoot:hover .phoneLines {
 opacity: 1;
 transition: opacity 2s ease;
}